<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head"/>
<body>
<div class="container" id="main-container">
    <h2>Usuarios</h2>

    <p>Lista de usuarios:</p>
    <div class="table-responsive">
        <form action="/admin/delete" method="post">
        <table class="table table-hover" th:fragment="tableMarksAdmin" id="tableMarksAdmin">
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Checkbox</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userList}">

                <td scope="row" th:text="${user.username}"> 1</td>
                <td th:text="${user.name}"> Ejercicio 1</td>
                <td th:text="${user.surname}">10</td>
                <td><input type="checkbox" th:name="userid +${user.id}" th:value="${user.id}"/></td> <!-- solo se muestra a admin-->
            </tr>
            </tbody>

        </table>


            <button  type="submit">Eliminar</button>

        </form>

    </div>
    <div th:if="${#lists.isEmpty(userList)}"> No users </div>
</div>
</body>
</html>