<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>
<div class="container" id="main-container">
    <h2 th:text="#{label.invitations}"></h2>

    <p></p>
    <div class="table-responsive">
        <table class="table table-hover" th:fragment="tableRequests" id="tableRequests">
            <thead>
            <tr>
                <th scope="col" th:text="#{label.name}"></th>
                <th scope="col" th:text="#{label.status}"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${requestList}">
                <td scope="row" th:text="${user.sender.name} + ' ' + ${user.sender.surname}"></td>


                <td th:if="${user.isAccepted()}" sec:authorize="hasRole('ROLE_USER')" th:text="#{label.accepted}" ></td>
                <td th:if="${!user.isAccepted()}" sec:authorize="hasRole('ROLE_USER')" >
                    <a th:href="${'/request/accept/' + user.id}" class="btn btn-success" th:text="'✓' + #{label.accept}"></a>
                </td>
            </tr>
            </tbody>
        </table>
        <footer th:replace="fragments/pagination"/>
    </div>
    <div th:if="${#lists.isEmpty(requestList)}" th:text="#{label.noRequest}"></div>
</div>
</body>
</html>