<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head"/>
<body>
<div class="container" id="main-container">
    <h2>Usuarios</h2>

    <form class="form-inline" action="/user/list">
        <div class="form-group">
            <input name="searchText" type="text" class="form-control" size="50" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <p>Lista de usuarios:</p>
    <div class="table-responsive">
        <form action="/user/delete" method="post">
            <table class="table table-hover" th:fragment="tableMarks" id="tableMarks">
                <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${userList}">


                    <td th:if="${user.getRole() == 'ROLE_ADMIN'}" scope="row" th:text="${user.username}"> 1</td>
                    <td th:if="${user.getRole() == 'ROLE_ADMIN'}" th:text="${user.name}"> Ejercicio 1</td>
                    <td th:if="${user.getRole() == 'ROLE_ADMIN'}" th:text="${user.surname}">10</td>
                    <td th:if="${user.getRole() == 'ROLE_ADMIN'}"  ><input type="checkbox" th:name="userid +${user.id}" th:value="${user.id}"/></td>

                    <td th:unless="${user.getRole() == 'ROLE_ADMIN'}" scope="row" th:text="${user.username}"> 1</td>
                    <td th:unless="${user.getRole() == 'ROLE_ADMIN'}" th:text="${user.name}"> Ejercicio 1</td>
                    <td th:unless="${user.getRole() == 'ROLE_ADMIN'}" th:text="${user.surname}">10</td>
                    <td th:unless="${user.getRole() == 'ROLE_ADMIN'}"  ><input type="checkbox" th:name="userid +${user.id}" th:value="${user.id}"/></td> <!-- sec:authorize="hasRole('ROLE_ADMIN')" -->
                </tr>
                </tbody>

            </table>

            <button  type="submit">Eliminar</button>

            <footer th:replace="fragments/pagination"/>

        </form>
    </div>
    <div th:if="${#lists.isEmpty(userList)}"> No users </div>
</div>
</body>
</html>