<!-- nav.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <a class="navbar-brand" href="#"></a>
    <img src="/images/student-48.png" alt="logo"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbar"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="mr-auto">
        <ul class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
            <li class="nav-item ">
                <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
            </li>

            <li id= "user-menu" class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" th:text="#{label.user}">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a id="listUsersOption"class="dropdown-item" href="/user/list" th:text="#{label.userList}"></a>
                </div>
            </li>

            <li id= "publication-menu" class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="publicationDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" th:text="#{label.pubications}">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a id="listPublicationOption"class="dropdown-item" href="/publication/listown">Publicaciones propias</a>
                    <a id="addPublication"class="dropdown-item" href="/publication/add">Añadir publicaión</a>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" id="listPublications" class="dropdown-item" href="/publication/list">Listado de publicaciones</a>

                </div>
            </li>

        </ul>
    </div>

    <div class="justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="btnLanguage" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span th:text="#{language.change}"></span>
                </a>
                <div id="languageDropdownMenuButton" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="btnEnglish" value="EN">
                        <img th:src="@{/images/if_uk_flag.png}" style="border: 0; float: left; margin-right: 15px"/>
                        <span th:text="#{language.en}"></span>
                    </a>
                    <a class="dropdown-item" id="btnSpanish" value="ES">
                        <img th:src="@{/images/if_spain_flag.png}" style="border: 0; float: left; margin-right: 15px"/>
                        <span th:text="#{language.es}"></span>
                    </a>
                </div>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/signup" >
                    <i class='fas fa-user-alt' style='font-size:16px'></i>
                    <span th:text="#{signup.message}"></span>
                </a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/login">
                    <i class='fas fa-sign-in-alt' style='font-size:16px'></i>
                    <span th:text="#{login.message}"></span>
                </a>
            </li>
            <li id="logoutBtn" sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/logout">
                    <i class='fas fa-sign-out-alt' style='font-size:16px'></i>
                    <span th:text="#{logout.message}"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>