<table class="table table-hover"  id="publicationsTable" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <thead>
    <tr>
        <th scope="col">Titulo</th>
        <th sec:authorize="!hasRole('ROLE_ADMIN')" scope="col">Texto</th>
        <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Email</th>
        <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Estado</th>
        <th scope="col">Fecha</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="publication : ${publicationsList}">
        <td scope="row" th:text="${publication.getTitle()}"></td>
        <td sec:authorize="!hasRole('ROLE_ADMIN')" th:text="${publication.getText()}"></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${publication.getOp().getEmail()}"></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${publication.getState()}"></td>
        <td th:text="${publication.getDate()}"></td>
        <td th:unless="${publication.getState().equals('Aceptada')}" sec:authorize="hasRole('ROLE_ADMIN')" scope="row"><a th:id="${'acceptPublication' + publication.id}" class="dropdown-item" th:href="${'/publication/accept/' + publication.id}">Aceptada</a></td>
        <td th:unless="${publication.getState().equals('Moderada')}" sec:authorize="hasRole('ROLE_ADMIN')" scope="row"><a th:id="${'moderatePublication' + publication.id}" class="dropdown-item" th:href="${'/publication/moderate/' + publication.id}">Moderada</a></td>
        <td th:unless="${publication.getState().equals('Censurada')}" sec:authorize="hasRole('ROLE_ADMIN')"scope="row"><a th:id="${'censorPublication' + publication.id}" class="dropdown-item" th:href="${'/publication/censor/' + publication.id}">Censurada</a></td>
    </tr>
    </tbody>
</table>