<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head"/>
<body>

<nav th:replace="fragments/nav"/>

<div class="container" style="text-align: center">
  <h1 th:text="#{welcome.message}"></h1>
  <h2 th:text="#{label.selectOption}"></h2>

  <div class="form-group center">
    <form class="form-inline center" action="/user/list">
      <button type="submit" class="btn btn-primary center" th:text="#{label.userList}"></button>
    </form>
    <br>
    <form class="form-inline center" action="/friend/list">
      <button type="submit" class="btn btn-primary center" th:text="#{label.friendList}"></button>
    </form>
    <br>
    <form class="form-inline center" action="/request/list">
      <button type="submit" class="btn btn-primary center" th:text="#{label.invitations}"></button>
    </form>
    <br>
    <form class="form-inline center" action="/publication/add">
      <button type="submit" class="btn btn-primary center" th:text="#{label.addPublication}"></button>
    </form>
    <br>
    <form class="form-inline center" action="/publication/listown">
      <button type="submit" class="btn btn-primary center" th:text="#{label.ownPublications}"></button>
    </form>
  </div>

</div>

<footer th:replace="fragments/footer"/>

</body>
</html>