<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/nav"></nav>
<div class="container" style="text-align: center">
    <h2 th:text="#{welcome.message}"></h2>
    <p th:text="#{welcome.description}"></p>

    <form class="form-inline center" action="/login">
        <button id="loginB" type="submit" class="btn btn-primary center" th:text="#{label.login}"></button>
    </form>
    <br>
    <form class="form-inline center" action="/signup">
        <button id="signupB" type="submit" class="btn btn-primary center" th:text="#{label.signup}"></button>
    </form>


</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>