<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head th:replace="fragments/head"></head>

<body>
<nav th:replace="fragments/nav"></nav>
<div class="container" id="main-container">
    <h2>Tus publicaciones</h2>
    <p>Lista de usuarios:</p>
    <div class="table-responsive">
        <table th:replace="fragments/publicationsTable"></table>

    </div>
    <div th:if="${#lists.isEmpty(publicationsList)}"> No publications </div>
    <footer th:replace="fragments/pagination"/>
</div>
<footer th:replace="fragments/footer"></footer>


</body>
</html>