<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head th:replace="fragments/head"></head>

<body>
<nav th:replace="fragments/nav"></nav>
<div class="container" id="main-container">
    <h2 sec:authorize="!hasRole('ROLE_ADMIN')" th:text="#{label.userPublications}"></h2>
    <h2 sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{label.systemPublications}"></h2>

    <form class="form-inline" action="/publication/list">
        <div class="form-group">
            <input id="searchTextPub" name="searchTextPub" type="text" class="form-control" size="50" placeholder="Search">
        </div>
        <button id="searchBtn" type="submit" class="btn btn-primary" th:text="#{label.search}"></button>
    </form>

    <div class="table-responsive">
        <table class="table table-hover"  id="publicationsTable">
            <thead>
            <tr>
                <th scope="col" th:text="#{label.title}"></th>
                <th sec:authorize="!hasRole('ROLE_ADMIN')" scope="col" th:text="#{label.text}"></th>
                <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Email</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col"  th:text="#{label.status}"></th>
                <th scope="col" th:text="#{label.date}"></th>
                <th sec:authorize="!hasRole('ROLE_ADMIN')" scope="col" th:text="#{label.recomendations}"></th>
                <th sec:authorize="!hasRole('ROLE_ADMIN')" scope="col" th:text="#{label.recomend}"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="publication : ${publicationsList}">
                <td scope="row" th:text="${publication.getTitle()}"></td>
                <td sec:authorize="!hasRole('ROLE_ADMIN')" th:text="${publication.getText()}"></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${publication.getOp().getEmail()}"></td>
                <td th:id="${'state'+publication.getId()}" sec:authorize="hasRole('ROLE_ADMIN')" th:text="${publication.getState()}"></td>
                <td th:text="${publication.getDate()}"></td>
                <td sec:authorize="!hasRole('ROLE_ADMIN')" id="recommendationCount" th:text="${publication.getRecommendationCount()}"></td>

                <td th:unless="${publication.getState().equals('Aceptada')}" sec:authorize="hasRole('ROLE_ADMIN')" scope="row">
                    <a th:id="${'acceptPublication' + publication.id}" class="dropdown-item" th:href="${'/publication/accept/' + publication.id}" th:text="#{label.publication.acepted}"></a>
                </td>
                <td th:unless="${publication.getState().equals('Moderada')}" sec:authorize="hasRole('ROLE_ADMIN')" scope="row">
                    <a th:id="${'moderatePublication' + publication.id}" class="dropdown-item" th:href="${'/publication/moderate/' + publication.id}" th:text="#{label.publication.moderated}"></a>
                </td>
                <td th:unless="${publication.getState().equals('Censurada')}" sec:authorize="hasRole('ROLE_ADMIN')"scope="row">
                    <a th:id="${'censorPublication' + publication.id}" class="dropdown-item" th:href="${'/publication/censor/' + publication.id}" th:text="#{label.publication.censored}"></a>
                </td>

                <td th:if="${publication.isRecommendedBy(user)}" sec:authorize="hasRole('ROLE_USER')" th:text="#{label.recomended}"></td>
                <td th:if="${!publication.isRecommendedBy(user)}" sec:authorize="hasRole('ROLE_USER')">
                    <a th:href="${'/publication/recommend/' + publication.id}" class="btn btn-success" id="recommendBtn" th:text="'✓' + #{label.recomend}"></a>
                </td>


            </tr>
            </tbody>
        </table>

    </div>
    <div th:if="${#lists.isEmpty(publicationsList)}" th:text="#{label.noPublications}"></div>
    <footer th:replace="fragments/pagination"/>
  
</div>
<footer th:replace="fragments/footer"></footer>


</body>
</html>